@import 'https://fonts.googleapis.com/css?family=Montserrat:300, 400, 700&display=swap';

*{
  font-family:"Montserrat", sans-serif;
  margin:0;
  padding:0;
  box-sizing:border-box;
  scroll-behavior:smooth;
}

:root {
  --accent: rgba(46, 80,	144, 1);
  --white: white;
  --nav-back: #1b1b1bd1;
  --dark-accent: rgb(27, 59, 119);
}

img{
  width: 100%;
  display: block;
}
.container{
  max-width: 1000px;
  margin: 0 auto;
  padding: 0 1.2rem;
}

ul{
  list-style:none
}
a{
  text-decoration:none
}
h2{
  font-weight:500;
  font-size:36px;
  color:#283d50;
  margin-bottom:60px
}
h3{
  color:#444;
  font-size:24px;
  margin-bottom:20px
}
h4{
  font-size:20px;
  margin-bottom:8px;
  color:#283d50
}
.about,.services,.why,.photo-gallery,.clients,footer{
  padding:50px 20px
}
@media (min-width: 900px){
  .about,.services,.why,.photo-gallery,.clients,footer{
      padding:100px 20px
  }
}

/* Navigation */
/* custom scroll bar */

::-webkit-scrollbar {
  width: 6px;
}
::-webkit-scrollbar-track {
  background: white;
}
::-webkit-scrollbar-thumb {
  background: var(--accent);
}
::selection{
background: #1b1b1bb6;
}
.content{
max-width: 1250px;
margin: auto;
padding: 0 30px;
}
.navbar{
position: fixed;
width: 100%;
z-index: 2;
padding: 25px 0;
transition: all 0.5s ease;
}
.navbar.sticky{
background: var(--nav-back);
padding: 20px 0;
box-shadow: 0px 3px 5px 0px rgba(0,0,0,0.2);
}
.navbar .content{
display: flex;
align-items: center;
justify-content: space-between;
}
.navbar .logo a{
color: #fff;
font-size: 30px;
font-weight: 600;
text-decoration: none;
}
.navbar .menu-list{
display: inline-flex;
}
.menu-list li{
list-style: none;
}
.menu-list li a{
color: #fff;
font-size: 18px;
font-weight: 500;
margin-left: 25px;
text-decoration: none;
transition: all 0.3s ease;
}
.menu-list li a:hover{
  border-bottom: 4px solid var(--accent);
  transition: 0.01s;
}

  .button a {
  margin-left: 10px;
  padding: 6px 20px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

  header .button a:hover {
  background-color: var(--accent);
  color: white;
  border: 1px solid var(--accent);
}

.banner{
background: transparent;
height: 100vh;
background-size: cover;
background-position: center;
background-attachment: fixed;
}
.about{
padding: 30px 0;
}
.about .title{
font-size: 38px;
font-weight: 700;
}
.about p{
padding-top: 20px;
text-align: justify;
}
.icon{
color: #fff;
font-size: 20px;
cursor: pointer;
display: none;
}
.fas-fa-bars{
position: absolute;
right: 30px;
top: 20px;
}

.logo span {
  color: var(--accent);
}

@media (max-width: 1230px) {
.content{
  padding: 0 60px;
}
}
@media (max-width: 1100px) {
.content{
  padding: 0 40px;
}
}
@media (max-width: 900px) {
.content{
  padding: 0 30px;
}
}
@media (max-width: 868px) {
body.disabled{
  overflow: hidden;
}
.icon{
  display: block;
}
.icon.hide{
  display: none;
}
.navbar .menu-list{
  position: fixed;
  height: 100vh;
  width: 100%;
  max-width: 400px;
  left: -100%;
  top: 0px;
  display: block;
  padding: 40px 0;
  text-align: center;
  background: var(--nav-back);
  transition: all 0.3s ease;
}
.navbar.show .menu-list{
  left: 0%;
}
.navbar .menu-list li{
  margin-top: 45px;
}
.navbar .menu-list li a{
  font-size: 23px;
  margin-left: -100%;
  transition: 0.0001s cubic-bezier(0.68, -0.55, 0.265, 1.55);
}
.navbar.show .menu-list li a{
  margin-left: 0px;
}

header .button a {
  border: none;
}


}
@media (max-width: 380px) {
.navbar .logo a{
  font-size: 27px;
}
}

/* Navigation */






/* Home page */



/* Hero */

header {
  background: linear-gradient(rgba(0, 0, 0, 0.4), rgba(0, 0, 0, 0.25)), url(images/hero.jpg) no-repeat;
  height: 100vh;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;

}

.banner-text {
	position: absolute;
	width: 600px;
	height: 300px;
	margin: 20% 30%;
	text-align: center;
}
.banner-text h1 {
	text-align: center;
	color: #fff;
	text-transform: uppercase;
	font-size: 60px;
}

.banner-text p {
	font-family: 'Ubuntu', sans-serif;
	font-size: 16px;
	line-height: 1.5;
	color: #ddd;
}
.banner-text h1 span {
	color: var(--accent);
}
.banner-text a {
	border: 1px solid #fff;
	padding: 10px 25px;
	text-decoration: none;
	text-transform: uppercase;
	font-size: 14px;
	margin-top: 20px;
	display: inline-block;
	color: #fff;
}
.banner-text a:hover {
	background: #fff;
	color: #333;
}

.button-head a {
  margin-left: 10px;
  padding: 6px 20px;
  background-color: transparent;
  border: 1px solid white;
  border-radius: 25px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

  header .button-head a:hover {
  background-color: var(--accent);
  color: white;
  border: 1px solid var(--accent);
}

/*resposive*/

@media (max-width:600px) {
	.banner-text {
		width: 100%;
		height: auto;
		margin: 300px 50px;
	}
	.banner-text h1 {
		font-size: 30px;
	}
}

/* End of the hero section */


/* Home page section */

/* About us section */


.about img{
  width:60%
}
@media (min-width: 900px){
  .about img{
      width:100%
  }
}
.about h2,.about .heading-summary{
  text-align:center
}
.about p{
  line-height:1.7
}
.about .flex-row{
  gap:50px;
  flex-direction:column
}
@media (min-width: 900px){
  .about .flex-row{
      flex-direction:row
  }
}
.about .left,.about .right{
  flex:1
}
.about .left .flex-row,.about .right .flex-row{
  gap:0;
  flex-direction:row;
  margin-top:32px;
  align-items:center
}
.about .left .info{
  flex:1
}
.about .left .info p{
  color:#444;
  font-size:14px
}
.about .left .about-features{
  flex-direction:column
}
@media (min-width: 500px){
  .about .left .about-features{
      flex-direction:row
  }
}
.about .left .about-features .info{
  margin-top:20px;
  display:flex;
  flex-direction:column;
  align-items:center
}
@media (min-width: 500px){
  .about .left .about-features .info{
      margin-top:0;
      align-items:initial
  }
}
.about i{
  display:flex;
  align-items:center;
  justify-content:center;
  width:70px;
  height:70px;
  border:2px solid var(--accent);
  border-radius:50%;
  margin-right:16px;
  transition:500ms ease all;
  color: var(--accent);
  font-size:24px
}
.about i:hover{
  background-color: var(--accent);
  border-color:transparent;
  color:#fff
}
.about-1 .left{
  text-align:center
}
@media (min-width: 500px){
  .about-1 .left{
      text-align:initial
  }
}
.about-1 .right,.about-3 .right{
  display:flex;
  justify-content:center
}
@media (min-width: 900px){
  .about-1 .right,.about-3 .right{
      align-items:start
  }
}
.about-2 .left{
  order:2;
  display:flex;
  justify-content:center
}
@media (min-width: 900px){
  .about-2 .left{
      order:1;
      align-items:start
  }
}
.about-2 .right{
  order:1
}
@media (min-width: 900px){
  .about-2 .right{
      order:2
  }
}
.about-2 p,.about-3 p{
  margin-bottom:20px
}
.services{
  background-color:#ecf5ff
}
.services .container{
  max-width:900px
}
.services h2,.services .heading-summary{
  text-align:center
}
.services .grid{
  margin:0 auto;
  max-width:600px;
  grid-template-columns:1fr;
  gap:32px;
  row-gap:50px
}
@media (min-width: 800px){
  .services .grid{
      max-width:100%;
      grid-template-columns:repeat(2, 1fr)
  }
}
.services .flex-row{
  cursor:pointer;
  box-shadow:0 10px 29px 0 rgba(68,88,144,0.1);
  border-radius:12px;
  overflow:hidden;
  position:relative;
  padding:30px;
  background-color:#fff;
  transition:500ms ease all
}
.services .flex-row:hover{
  transform:translateY(-4px);
  border-bottom: 2px solid var(--accent);
  transition: 0.2s;
}
.services .flex-row h3{
  font-size:18px
}
.services .flex-row p{
  font-size:14px;
  line-height:1.7
}
.services .flex-row i{
  align-self:center;
  display:flex;
  position:absolute;
  left:-10px;
  font-size:64px
}
.services .flex-row .right{
  margin-left:40px
}
.why{
  background-color:#004a99;
  color:#fff
}
.why h2,.why h3,.why .heading-summary{
  color:#fff;
  text-align:center
}
.why .flex-row{
  margin-top:60px;
  gap:60px
}
.why .write-up{
  margin:0 auto;
  max-width:600px;
  flex-direction:column
}
@media (min-width: 900px){
  .why .write-up{
      max-width:100%;
      flex-direction:row
  }
}
.why .write-up .col{
  display:flex;
  flex-direction:column;
  align-items:center;
  flex:1;
  cursor:pointer;
  padding:40px;
  border-radius:12px;
  background-color:#00458f;
  text-align:center;
  transition:500ms ease all
}
.why .write-up .col:hover{
  background-color:#003b7a
}
.why .write-up .col:hover span{
  border-bottom:2px solid #004a99
}
.why .write-up span{
  max-width:100px;
  margin-top:auto;
  padding-bottom:4px;
  border-bottom:2px solid transparent
}
.why i{
  font-size:50px
}
.why h3{
  margin:16px 0
}
.why p{
  font-size:14px;
  margin-bottom:32px
}
.why .analytics{
  flex-direction:column;
  margin-top:90px;
  justify-content:space-evenly;
  align-items:center
}
@media (min-width: 700px){
  .why .analytics{
      flex-direction:row
  }
}
.why .analytics span{
  display:block;
  text-align:center
}
.why .analytics .number{
  font-size:50px;
  font-weight:600;
  margin-bottom:10px
}
.why .analytics .title{
  font-size:14px
}
.photo-gallery h2{
  text-align:center
}
.photo-gallery .grid{
  grid-template-columns:1fr;
  grid-auto-rows:125px;
  gap:16px
}
@media (min-width: 600px){
  .photo-gallery .grid{
      grid-template-columns:repeat(2, 1fr)
  }
}
@media (min-width: 900px){
  .photo-gallery .grid{
      grid-template-columns:repeat(3, 1fr)
  }
}
.photo-gallery .col{
  position:relative
}
.photo-gallery .col img{
  position:relative;
  object-fit:cover;
  display:block;
  width:100%;
  height:100%;
  border-radius:12px
}
.photo-gallery .col .bg{
  border-radius:12px;
  transition:500ms ease all;
  top:0;
  position:absolute;
  width:100%;
  height:100%
}
.photo-gallery .col .content{
  color:#fff;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  transition:500ms ease all;
  opacity:0;
  position:absolute;
  top:0;
  width:100%;
  height:100%
}
.photo-gallery .col .content p:nth-child(1){
  font-weight:600;
  font-size:24px;
  margin-bottom:4px
}
.photo-gallery .col .content p:nth-child(2){
  margin-bottom:4px
}
.photo-gallery .col .content i{
  cursor:pointer;
  font-size:18px;
  padding:10px;
  background-color:#004289;
  border-radius:50%
}
.photo-gallery .col:hover .bg{
  background-color: var(--accent)
}
.photo-gallery .col:hover .content{
  opacity:1
}
.photo-gallery .photo-1{
  grid-row:span 3
}
.photo-gallery .photo-2,.photo-gallery .photo-6,.photo-gallery .photo-7,.photo-gallery .photo-8,.photo-gallery .photo-9{
  grid-row:span 2
}
.photo-gallery .photo-3,.photo-gallery .photo-4,.photo-gallery .photo-5{
  grid-row:span 5
}


.clients{
  background-color:#ecf5ff;
  box-shadow:inset 0px 0px 12px 0px rgba(0,0,0,0.1)
}
.clients h2,.clients .heading-summary{
  text-align:center
}
.clients .flex-row{
  flex-wrap:wrap
}
.clients .col{
  max-height:180px;
  display:flex;
  flex-direction:column;
  justify-content:center;
  align-items:center;
  border-bottom:1px solid #d6eaff;
  border-right:1px solid #d6eaff;
  background-color:#fff;
  padding:64px;
  flex-basis:100%
}
@media (min-width: 500px){
  .clients .col{
      flex-basis:50%
  }
}
@media (min-width: 900px){
  .clients .col{
      flex-basis:25%
  }
}
.clients .col:hover img{
  transform:scale(1.2)
}
.clients img{
  transition:500ms ease all;
  max-width:100%;
  height:auto
}

footer{
  color:#fff;
  background-color: var(--dark-accent)
}
footer .container{
  display:flex;
  flex-direction:column;
  align-items:center
}
footer ul{
  margin-bottom:32px;
  flex-wrap:wrap;
  justify-content:center
}
footer li{
  padding:0 15px;
  margin-bottom:16px
}
footer a{
  font-size:14px;
  font-weight:500;
  color:#fff
}
footer li:hover{
  transform:translateY(-2px);
}
footer i{
  cursor:pointer;
  font-size:30px
}
footer p{
  text-align:center
}
.container{
  max-width:1140px;
  margin:0 auto
}
.display-none{
  display:none
}
.flex-row{
  display:flex
}
.grid{
  display:grid;
}
.heading-summary{
  color:#556877;
  font-size:15px;
  max-width:600px;
  margin:0 auto 60px auto
}
.btn{
  cursor:pointer;
  display:inline-block;
  padding:14px 40px;
  background-color:#007bff;
  color:#fff;
  border-radius:45px;
  border:2px solid transparent;
  font-weight:600;
  transition:500ms ease all
}
.btn:hover{
  background-color:transparent;
  border-color:#fff
}
.btn:focus{
  outline:none
}
.btn-light{
  background-color:transparent;
  border-color:#fff
}
.btn-light:hover{
  background-color:#007bff;
  border-color:transparent
}
.pink-text{
  color: var(--accent);
}



/* End of home page */


/* design */
.design{
  padding: 4.5rem 0;
}
.title{
  text-align: center;
  padding: 1rem 0;
}
.title h2{
  font-family: var(--Playfair);
  font-size: 2.4rem;
}
.title p{
  text-transform: uppercase;
  padding: 0.6rem 0;
}
.design-content{
  margin: 2rem 0;
}
.design-item{
  cursor: pointer;
  margin: 1.5rem 0;
}
.design-img{
  position: relative;
  overflow: hidden;
}
.design-img::after{
  position: absolute;
  content: "";
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.3);
}
.design-img img{
  transition:  all 0.5s ease;
}
.design-item:hover img{
  transform: scale(1.2);
}
.design-img span:first-of-type{
  position: absolute;
  z-index: 1;
  top: 10px;
  left: 10px;
  background: var(--exDark);
  color: #fff;
  padding: 0.25rem 1rem;
}
.design-img span:last-of-type{
  position: absolute;
  z-index: 1;
  bottom: 10px;
  right: 10px;
  color: #fff;
  font-weight: 700;
  font-size: 1.1rem;
}
.design-title{
  padding: 1rem;
  font-size: 1.2rem;
  text-align: center;
  width: 70%;
  margin: 0 auto;
}
.design-title a{
  color: var(--dark);
  text-decoration: none;
  text-transform: capitalize;
  font-family: var(--Playfair);
}

/* blog */
.blog{
  background: #f9f9f9;
  padding: 4.5rem 0;
}
.blog-content{
  margin: 2rem 0;
}
.blog-img{
  position: relative;
}
.blog-img span{
  position: absolute;
  bottom: 10px;
  right: 10px;
  background: var(--exDark);
  color: #fff;
  font-size: 1.4rem;
  padding: 0.3rem 0.6rem;
}
.blog-text{
  margin: 2.2rem 0;
  padding: 0 1rem;
}
.blog-text span{
  font-weight: 300;
  display: block;
  padding-bottom: 0.5rem;
}
.blog-text h2{
  font-family: var(--Playfair);
  padding: 1rem 0;
  font-size: 1.65rem;
  font-weight: 500;
}
.blog-text p{
  font-weight: 300;
  font-size: 1.1rem;
  opacity: 0.9;
  padding-bottom: 1.2rem;
}
.blog-text a{
  font-family: var(--Roboto);
  font-size: 1.1rem;
  text-decoration: none;
  color: var(--dark);
  display: inline-block;
  background: var(--dark);
  color: #fff;
  padding: 0.55rem 1.2rem;
  transition: all 0.5s ease;
}
.blog-text a:hover{
  background: var(--exDark);
}

/* Media Queries */
@media screen and (min-width: 540px){
  .navbar-nav a{
      padding-right: 1.2rem;
      padding-left: 1.2rem;
  }
  .banner-title{
      font-size: 5rem;
  }
  .banner form{
      margin-top: 1.4rem;
      width: 80%;
      margin-left: auto;
      margin-right: auto;
  }
}

@media screen and (min-width: 768px){
  .navbar .container{
      display: flex;
      align-items: center;
      justify-content: space-between;
  }
  .search-input{
      padding: 0.8rem 0;
  }
  .design-content{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
  }
  .design-item{
      margin: 0;
  }
  .blog-content{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      gap: 2rem;
  }
}

@media screen and (min-width: 992px){
  .blog-content{
      grid-template-columns: repeat(3, 1fr);
  }
  .about-content{
      display: grid;
      grid-template-columns: repeat(2, 1fr);
      column-gap: 3rem;
      align-items: center;
  }
}

@media screen and (min-width: 1200px){
  .design-content{
      grid-template-columns: repeat(3, 1fr);
  }
}

/* Contact Us Section Start */

.loacation {
  width: 80%;
  margin: auto;
  padding: 80px 0;
}

.loacation iframe {
  width: 100%;
}

.contact-us {
  width: 60%;
  margin: auto;
}

.content-col {
  flex-basis: 48%;
  margin-bottom: 30px;
}

.content-col div {
  display: flex;
  align-items: center;
  margin-bottom: 40px;
}

.content-col div .fa {
  font-size: 28px;
  color: var(--accent);
  margin: 10px;
  margin-right: 30px;
}

.content-col div p {
  padding: 0;
}

.content-col div h5 {
  font-size: 20px;
  margin-bottom: 5px;
  color: #555;
  font-weight: 400;
}

.content-col input, .content-col textarea {
  width: 100%;
  padding: 15px;
  margin-bottom: 17px;
  border: 1px solid var(--accent);
  outline: none;
  box-sizing: border-box;
}

.content-col button {
  background-color: var(--accent);
}

.content-col button:hover {
  background-color: var(--dark-accent);
}

/* Contact Us Section end */