@import url();

* {
    margin: 0 auto;
    padding: 0;
    box-sizing: border-box;
}

/* Navigation bar */

header {
  display: flex;
  justify-content: flex-end;
  align-items: center;
  padding: 30px 10%;
  background-color: #24252a;
}

.logo {
  margin-right: auto;
}

.nav__links {
  list-style: none;
  display: flex;
}

.nav__links a,
.cta,
.overlay__content a {
  font-family: "Montserrat", sans-serif;
  font-weight: 500;
  color: #edf0f1;
  text-decoration: none;
}

.nav__links li {
  padding: 0px 20px;
}

.nav__links li a {
  transition: all 0.3s ease 0s;
}

.nav__links li a:hover {
  color: rgba(187, 134, 252, 0.7);
}

/* Mobile Nav */

.menu {
  display: none;
}

.overlay {
  height: 100%;
  width: 0;
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  background-color: #24252a;
  overflow-x: hidden;
  transition: all 0.5s ease 0s;
}

.overlay--active {
  width: 100%;
}

.overlay__content {
  display: flex;
  height: 100%;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.overlay a {
  padding: 15px;
  font-size: 36px;
  display: block;
  transition: all 0.3s ease 0s;
}

.overlay a:hover, .overlay a:focus {
  color: rgba(187, 134, 252, 0.7);
}
.overlay .close {
  position: absolute;
  top: 20px;
  right: 45px;
  font-size: 60px;
  color: #edf0f1;
  cursor: pointer;
}

@media screen and (max-height: 450px) {
  .overlay a {
    font-size: 20px;
  }
  .overlay .close {
    font-size: 40px;
    top: 15px;
    right: 35px;
  }
}

@media only screen and (max-width: 800px) {
  .nav__links,
  .cta {
    display: none;
  }
  .menu {
    display: initial;
  }
}
/* End of navigation bar */




/* Start of hero section */

.hero {
    width: 100vw;
    height: 100vh;
    background-image: url(images/hero.jpg);
    background-color: rgba(0, 0, 0, 0.9);
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;

}

.hero-section {
    margin-bottom: 150px;
    color: white;
    text-align: center;

}

.hero-section h2 {
    font-size: 12px;
}

.line {
    width: 150px;
    height: 4px;
    background-color: #bb86fc;
    margin: 10px auto;
    border-radius: 5px;
}

.hero-section h1 {
    font-size: 24px;
    margin-top: 50px;
    margin-bottom: 30px;
}

.btn {
  margin-left: 20px;
  padding: 9px 25px;
  background-color:rgba(187, 134, 252, 1);
  border: none;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease 0s;
}

.btn:hover {
  background-color: rgba(187, 134, 252, 0.7);
}

/* End of hero section */
  
